@font-face {
  font-family: MeltixReg;
  src: url(/TechnicalExam/Resources/Fonts/meltix/Meltix_Regular_Demo.otf);

}

@font-face {
  font-family: Ubuntu;
  src: url(/TechnicalExam/Resources/Fonts/meltix/Ubuntu-Regular.ttf);
}

/*HEADER STYLE START*/

#header .navbar {
  background-color: #022989; /*header bg color*/
}

#header .nav-link{
  color: #ffffff; /*links color*/
}

.datetoday{/*date*/
  margin-top: 10px;
  color: #ffffff;
  display: inline;
}

.line{/*signup login separator line*/
  content: "";
  width: 1px; 
  height: 15px; 
  background-color: #ffffff; 
  margin-top: 12px;
}

.button-logo{
  margin-top: -2px;
  margin-right: 5px;
}

.notifinquiry{ /*align right*/
  margin-left: auto;
  margin-right: 0;
}

.headertxt { /*active notif inqr txt*/
  display: inline; 
}

@media (max-width: 768px) { 

  .headertxt {/*inactive notif inqr txt*/
    display: none;
  }

  .button-logo {
    display: inline;
  }

  .datetoday{/*inactive date*/
    display: none;
  } 

  .notifinquiry{/*align right notif inquir*/
    margin-left: 0;
    margin-right: auto;
  }
}
/*HEADER STYLE END*/




/*NAVIGATION STYLE START*/

/*navigation space between*/
.navbar-nav .nav-item:not(:last-child) .nav-link {
  margin-right: 50px;
}

/*nav link*/
#navigation .nav-link{
  font-size: 19px;
  font-weight: 400;
  color: #523d3d;
}


/*custom burger button*/
.navbar .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
/*custom burger button*/
.burger {
  display: inline-block;
  cursor: pointer;
}
/*custom burger button*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


@media (max-width: 1199px) { 
  /*navlink font size*/
  .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 20px;
  }
}
/*NAVIGATION STYLE END*/




/*CAROUSEL BANNER STYLE START*/
.carousel-inner { /*carousel size*/
  height: 80vh;
  background-color: black;
}

#banner .carousel-container { /*carousel content*/
  height: 80vh;  
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}


.bgimg{ /*bg coverage*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}


#banner h1{/*carousel text content*/
  font-family: MeltixReg;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: clamp(2rem,2.7vw,3rem);
}


#banner p{/*carousel text content*/
  color: rgb(255, 255, 255);
  text-transform: uppercase; 
  font-size: clamp(.9rem,1.5vw,1.375rem);
}

#banner .green-text {/*greentext*/
  color: #2ad319;
  margin-left: 6px;
}

#banner .btn{ /*button in first slide*/
  border-radius: 0%;
  margin-top: 20px;
  font-size: 19px;
}


.carousel-indicators button { /*circle indicators*/
  width: 20px !important; 
  height: 20px !important;
  border: 2px solid #ffffff !important;
  border-radius: 50% !important; 
  background-color: #635a5a00 !important; 
  margin: 0 5px !important; 
}
.carousel-indicators .active {
  background-color: #2ad319 !important;
  border: 2px solid #ffffff00 !important;
}



@media (max-width: 660px) { 
  .green-text { /*add space*/
    display: block;
    margin-top: 5px; 
  }

}

/*CAROUSEL BANNER STYLE END*/



/*SERVICE STYLE START*/

#service{
  padding: 50px;
}

.section_title{/*thurston title*/
  font-size: 58px;
  color: #022989;
  font-family: Ubuntu;
}

.centered{ /*center*/
  display: flex;
  justify-content: center;
}

.s-icon{/*card container*/
  padding: 20px;
  }

.s-icon .icon img {/*card icon*/
  height: 100px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.box-title{ /*card title*/
  color: #523d3d;
  font-family: Ubuntu;
}
.box-desciption{  /*card desc..*/
  font-size: 17px;
  color: #523d3d;
  font-family: Ubuntu;
}
hr {/* line*/
  color: #000; 
  background-color: #000; 
  height: 1px;
  width: 187px;
  border: none; 
  margin: 0 auto;
}

.centered{
  display: flex;
  justify-content: center;
}

/*SERVICE STYLE END*/




/*CONTACT US START*/
#contactus{/*contact us section*/
  background-color: #e9edf8;
  padding: 40px;
}
.c-title{/*contact us title*/
  font-size: 58px;
  color: #022989;
  font-family: Ubuntu;
  margin: 40px 0;

}

.git{/*h2 of 2 cols*/
  color: #022989;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
}

.fillup{/*h4 of 2 cols*/
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
}

#contactus  .form-control {/*form*/
  border: 1px solid #d9d9d9;
  margin: 12px;
  border-radius: 0%;
}

#contactus .form-control::placeholder {/*form placeholder*/
  color: #d9d9d9;  
  font-family: Ubuntu;
}


#contactus button.btn-custom {/*form submit button*/
  background-color: #022989; 
  color: #FFF; 
  border-color: #022989; 
  border-radius: 0%;
  margin-left: 12px;
  width: 200px;
  font-family: Ubuntu;
}

.indented{/*put indention in loc add*/
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
  text-indent: 30px;
}

#contactus .btn-custom:hover,
#contactus button.btn-custom:focus {/*submit bttn hover*/
  background-color: #01216f; 
  color: #FFF; 
  border-color: #01216f; 
}


@media (max-width: 767px) { 

  #contactus {/*center contents*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #contactus .container {
    width: 100%;
  }
  
  #contactus .row {/*cnter contents*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #contactus .mb-4 {
    margin: 1rem;
  }
  
  #contactus .indented {/*remove indention*/
    text-indent: 0px;
  }
  
}
/*CONTACT US END*/



/*FOOTER US START*/
.ft{/*footer custom*/
  background-color: #494949;
  height: 80px;
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#footer small{/*all right reserve...*/
  display: flex;
  justify-content: start; 
  padding-top: 4px;
  font-family: Ubuntu;
}

.social-icons{/*social media icons*/
  display: flex;
  justify-content: end; 
}

.f-icons{/*icons spacing*/
  margin-left: 20px;
}


@media (max-width: 767px) { 
  #footer small{ /*align center allright reserv...*/
    text-align: center;
    display: flex;
    justify-content: center; 

  }
  .social-icons{/*align center icons*/
    display: flex;
    justify-content: center; 
  }
  
}

/*FOOTER US END*/