@font-face {
  font-family: MeltixReg;
  src: url(/TechnicalExam/Resources/Fonts/meltix/Meltix_Regular_Demo.otf);

}

@font-face {
  font-family: Ubuntu;
  src: url(/TechnicalExam/Resources/Fonts/meltix/Ubuntu-Regular.ttf);
}

/*HEADER STYLE START*/
#header{ /*header position*/
position: absolute;
z-index: 2;
width: 100vw;
top: 100px;
}

#header .navbar { /*transparent*/
  background-color: #00000000;
}

#header .nav-link{
  color: #ffffff78; /*links color*/
}

.datetoday{/*date*/
  margin-top: 10px;
  color: #ffffff83;
  display: inline;
  margin-left: 20px;
  font-family: Ubuntu;
}

.line{/*signup login separator line*/
  content: "";
  width: 1px; 
  height: 15px; 
  background-color: #ffffff86; 
  margin-top: 12px;
}

.button-logo{
  margin-top: -2px;
  margin-right: 5px;
  opacity: .5;
}

.notifinquiry{ /*align right*/
  margin-left: auto;
  margin-right: 0;
}

.headertxt { /*active notif inqr txt*/
  display: inline; 
}

@media (max-width: 768px) { 

  .headertxt {/*inactive notif inqr txt*/
    display: none;
  }

  .button-logo {
    display: inline;
  }

  .datetoday{/*inactive date*/
    display: none;
  } 

  .notifinquiry{/*align right notif inquir*/
    margin-left: 0;
    margin-right: auto;
  }
}
/*HEADER STYLE END*/




/*NAVIGATION STYLE START*/

/*navigation space between*/
#navigation{/*position*/
  position: absolute;
  z-index: 1;
  background-color: #3a80bd6d !important;
}

#navigation .navbar{
  width: 100vw;
}
.navbar-nav .nav-item:not(:last-child) .nav-link {
  margin-right: 40px;
}

/*nav link*/
#navigation .nav-link{
  font-size: 19px;
  font-weight: 400;
  color: #ffffff;
  font-family: Ubuntu;
}

/* hover links */
#navigation .nav-link:hover {
  color: #ffffff; 
  font-weight: bold;
}



/*custom burger button*/
.navbar .navbar-toggler {
  color: transparent;
  border-color: transparent;
}
/*custom burger button*/
.burger {
  display: inline-block;
  cursor: pointer;
}
/*custom burger button*/
.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}


@media (max-width: 1199px) { 
  /*navlink font size*/
  .navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-right: 20px;
  }
}
/*NAVIGATION STYLE END*/




/*CAROUSEL BANNER STYLE START*/
#banner{
  position: relative;
  z-index: 0;
}
.carousel-inner { /*carousel size*/
  height: 100vh;
  background-color: black;
}

#banner .carousel-container { /*carousel content*/
  height: 100vh;  
  padding: 5%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
}


.bgimg{ /*bg coverage*/
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
}


#banner h1{/*carousel text content*/
  font-family: MeltixReg;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: clamp(2rem,2.7vw,3rem);
}


#banner p{/*carousel text content*/
  color: rgb(255, 255, 255);
  text-transform: uppercase; 
  font-size: clamp(.9rem,1.5vw,1.375rem);
}

#banner .green-text {/*greentext*/
  color: #13ba04;
  margin-left: 6px;
}

#banner .btn{ /*button in first slide*/
  border-radius: 0%;
  margin-top: 20px;
  font-size: 19px;
}


.carousel-indicators button { /*circle indicators*/
  width: 20px !important; 
  height: 20px !important;
  border: 2px solid #ffffff !important;
  border-radius: 50% !important; 
  background-color: #635a5a00 !important; 
  margin: 0 5px !important; 
}
.carousel-indicators .active {
  background-color: rgba(241, 245, 241, 0.298) !important;
  border: 2px solid #ffffff00 !important;
}



@media (max-width: 660px) { 
  .green-text { /*add space*/
    display: block;
    margin-top: 5px; 
  }

}

/*CAROUSEL BANNER STYLE END*/

/*ABOUT*/

#about .container{
  display: flex;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}
.a-title{
  font-family: Ubuntu;
  font-weight: bold;
}
.a-des{
  font-family: Ubuntu;
  text-indent: 30px;
}
#about .row{
  margin: 50px;
}

.aboutlogo {
  height: 40%;
  width: auto;
}
.logoabout {
  display: flex;
  justify-content: flex-end; 
  align-items: center; 
  height: 100%; 
  margin-right: 50px;
}

.logoabout img {
  max-height: 100%;
}
@media (max-width: 767px) { 
  .logoabout {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%; 
    margin-bottom: 80px;
  }
  .a-title{
    text-align: center;
  }
  
  .a-des{
    font-family: Ubuntu;
    text-indent: 0px;
    text-align: center;
  }
 


}

/*ABOUT*/






/*SERVICE STYLE START*/

#service{
  padding: 50px;
  background-color: #e9edf8;
}

.section_title{/*thurston title*/
  font-size: 58px;
  color: #022989;
  font-family: Ubuntu;
}

.centered{ /*center*/
  display: flex;
  justify-content: center;
}

.s-icon{/*card container*/
  padding: 20px;
  }
.s-box{
  background-color: #fbfbfb ;
  border-radius: 5%;
  margin: 15px;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.2);
}
.s-icon .icon img {/*card icon*/
  height: 100px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.box-title{ /*card title*/
  color: #523d3d;
  font-family: Ubuntu;
}
.box-desciption{  /*card desc..*/
  font-size: 17px;
  color: #523d3d;
  font-family: Ubuntu;
}
hr {/* line*/
  color: #000; 
  background-color: #000; 
  height: 1px;
  width: 187px;
  border: none; 
  margin: 0 auto;
}

.centered{/* center*/
  display: flex;
  justify-content: center;
}

.hoverit { /* HOVER*/
  cursor: pointer;
  transition: all 0.5s;
}

.hoverit:hover { /* HOVER*/
  transform: scale(1.09);
}

.hoverit:active {/* HOVER*/
  transform: scale(0.95) rotateZ(1.7deg);
}

.reveal{ /* REVEAL*/
  position: relative;
  transform: translateY(90px);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active{ /* REVEAL*/
  transform: translateY(0px);
  opacity: 1;
}


/*SERVICE STYLE END*/




/*CONTACT US START*/
#contactus{/*contact us section*/
  background-color: #e9edf8;
  padding: 40px;
}
.c-title{/*contact us title*/
  font-size: 58px;
  color: #022989;
  font-family: Ubuntu;
  margin: 40px 0;

}

.git{/*h2 of 2 cols*/
  color: #022989;
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
}

.fillup{/*h4 of 2 cols*/
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
}

#contactus  .form-control {/*form*/
  border: 1px solid #d9d9d9;
  margin: 12px;
  border-radius: 0%;
}

#contactus .form-control::placeholder {/*form placeholder*/
  color: #d9d9d9;  
  font-family: Ubuntu;
}


#contactus button.btn-custom {/*form submit button*/
  background-color: #022989; 
  color: #FFF; 
  border-color: #022989; 
  border-radius: 0%;
  margin-left: 12px;
  width: 200px;
  font-family: Ubuntu;
}

.indented{/*put indention in loc add*/
  margin-bottom: 5px;
  font-size: 19px;
  font-family: Ubuntu;
  text-indent: 30px;
}

#contactus .btn-custom:hover,
#contactus button.btn-custom:focus {/*submit bttn hover*/
  background-color: #01216f; 
  color: #FFF; 
  border-color: #01216f; 
}


@media (max-width: 767px) { 

  #contactus {/*center contents*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  #contactus .container {
    width: 100%;
  }
  
  #contactus .row {/*cnter contents*/
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #contactus .mb-4 {
    margin: 1rem;
  }
  
  #contactus .indented {/*remove indention*/
    text-indent: 0px;
  }
  
}
/*CONTACT US END*/




/*TEAM US START*/

.yeah {
  display: flex;
  padding: 0 35px;
  align-items: center;
  justify-content: center;
  min-height: 500px;
  background: linear-gradient(to left top, #146898, rgb(3, 129, 255));
}

.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.t-title{
  font-size: 58px;
  color: #ffffff;
  font-family: Ubuntu;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
  
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child{
  left: -22px;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 5px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  background: #53bdff;
  height: 148px;
  width: 148px;
  border-radius: 50%;
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}
.carousel .card span {
  color: #6A6D78;
  font-size: 1.31rem;
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
/*TEAM US END*/




/*FOOTER US START*/
.ft{/*footer custom*/
  background-color: #39487a;
  height: 80px;
  color: #ffffff;
  display: flex;
  justify-content: center; 
  align-items: center;
}

#footer small{/*all right reserve...*/
  display: flex;
  justify-content: start; 
  padding-top: 4px;
  font-family: Ubuntu;
}

.social-icons{/*social media icons*/
  display: flex;
  justify-content: end; 
}

.f-icons{/*icons spacing*/
  margin-left: 20px;
}


@media (max-width: 767px) { 
  #footer small{ /*align center allright reserv...*/
    text-align: center;
    display: flex;
    justify-content: center; 

  }
  .social-icons{/*align center icons*/
    display: flex;
    justify-content: center; 
  }
  
}

/*FOOTER US END*/